.navBar {

    width: 100%;
    display: flex;
    justify-content: center;
    height: 90px;
}


.navMenu {
    text-align: center;
    width: 80%;


}

.navMenu li {
    display: inline-block;
}

.navMenu li a {
    display: block;
    color: #1e1e27;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 90px;
}


.navIcon {
    margin-left: 20px;
    padding-left: 5px;
    width: 30%;
    display: flex;
    position: relative;



}

.icon {

    color: #1e1e27;
    padding: 0 9px;
    width: 30px;
    text-align: center;
}

.icon a {
    line-height: 90px;
}

.cart {
    margin-top: 24px;
    text-align: center;
    background: #eceff6;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    margin-right: 20px;

}

.cart a {
    color: #1e1e27;
}

.cartCount {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    font-size: 12px;
    background-color: #fe4c50;
    color: #ffffff;
    position: absolute;
    line-height: 20px;
}

.profile {
    position: absolute;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    background-color: white;
    width: 50%;
    right: 10px;
    line-height: 40px;
    text-align: center
}

.profile ul {

    margin-left: 5px;
    margin-right: 5px;

}

.profile ul li {
    border-bottom: solid;
    cursor: pointer;
}

.profile ul li:nth-child(4) {
    border-bottom: none;
}